# ==============================
# Python
# ==============================

.venv/
venv/
__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/

# ==============================
# Environment
# ==============================

.env

# ==============================
# Machine Learning
# ==============================

*.pt
*.pth
*.onnx
*.weights

ml/artifacts/*
!ml/artifacts/.gitkeep

edge/models/*
!edge/models/.gitkeep

# ==============================
# Data
# ==============================

data/raw/
data/processed/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Node
# ==============================

node_modules/
dist/
build/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
